<div class="intro banner">
  <div class="container">
    <h1><span>Pair</span> With Associates</h1>
  </div>
</div>

<div class="bookings">
  <div class="container">
    <%= form_for [:admin, @new_session], builder: FormBuilder do |f| %>
      <%= f.field :starts_at, required: true, autofocus: true, label: "Add a session", placeholder: "e.g. Wednesday at 3pm" %>
      <%= f.button "Add", class: "button book-session" %>
    <% end %>
  </div>
</div>

<div class="edit-data">
  <div class="container">
    <%= form_for [:admin, current_person], builder: FormBuilder do |f| %>
      <%= f.label :skills, "Edit your skills" %>
      <%= f.text_field :skills %>
      <%= f.button "Save", class: "button book-button" %>
    <% end %>
    <% if flash[:admin].present? %>
      <p><%= flash[:admin] %></p>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Your Upcoming Sessions</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Who?</th>
        <th>When?</th>
        <th>What?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.upcoming.each do |s| %>
        <% next if s.new_record? %>
        <tr class="<%= s.state %>">
          <td>
            <%= gravatar_tag s.person.email, size: 128, class: "gravatar" %>
          </td>
          <td>
            <strong><%= s.person.name %></strong>
          </td>
          <td>
            <%= session_time_tags s %>
          </td>
          <td>
            <%= s.person.skills %>
          </td>
          <td>
            <%= link_to "Remove", admin_session_destroy_path(s), class: "button", method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Your Past Sessions</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Who?</th>
        <th>When?</th>
        <th>What?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.past.each do |s| %>
        <% next if s.new_record? %>
        <tr class="<%= s.state %>">
          <td>
            <%= gravatar_tag s.person.email, size: 128, class: "gravatar" %>
          </td>
          <td>
            <strong><%= s.person.name %></strong>
          </td>
          <td>
            <%= session_time_tags s %>
          </td>
          <td>
            <%= s.person.skills %>
          </td>
          <td>
            <% if s.bookings.any? %>
              Booked :)
            <% else %>
              Not booked :(
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
