<div class="intro banner">
  <div class="container">
    <h1><span>Pair</span> With Associates</h1>
  </div>
</div>

<div class="bookings">
  <div class="container">
    <%= form_for [:admin, @new_session], builder: FormBuilder do |f| %>
      <%= f.field :starts_at, required: true, autofocus: true, label: "Add a session", placeholder: "e.g. Wednesday at 3pm" %>
      <%= f.button "Add", class: "button book-session" %>
    <% end %>
  </div>
</div>

<div class="edit-data">
  <div class="container">
    <%= form_for [:admin, current_person], builder: FormBuilder do |f| %>
      <h3>Edit your details</h3>
      <%= f.field :skills %>
      <%= f.field :screenhero_email, placeholder: current_person.email %>
      <%= f.button "Save", class: "button book-button" %>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Your Upcoming Sessions</h2>
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>When?</th>
        <th>Who?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.upcoming.each do |s| %>
        <% next if s.new_record? %>

        <tr class="<%= s.state %>">
          <td class="dashboard-gravatars">
            <%= gravatar_tag s.person.email, size: 128, class: "gravatar" %>
            <% if b = s.booking %>
              <%= gravatar_tag b.email, size: 128, class: "gravatar" %>
            <% end %>
          </td>
          <td>
            <%= session_time_tags s %>
          </td>
          <td>
            <% if b = s.booking %>
              <%= mail_to b.email, b.name %>
            <% else %>
              No one… yet
            <% end %>
          </td>
          <td>
            <% if b = s.booking %>
              <%= link_to "Details", session_booking_path(s, b), class: "button good" %>
            <% else %>
              <%= link_to "Remove", admin_session_destroy_path(s), class: "button bad", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Your Past Sessions</h2>
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>When?</th>
        <th>Who?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.past.each do |s| %>
        <% next if s.bookings.empty? %>
        <% next if s.new_record? %>

        <tr class="<%= s.state %>">
          <td class="dashboard-gravatars">
            <%= gravatar_tag s.person.email, size: 128, class: "gravatar" %>
            <%= gravatar_tag s.booking.email, size: 128, class: "gravatar" %>
          </td>
          <td>
            <%= session_time_tags s %>
          </td>
          <td>
            <%= mail_to s.booking.email, s.booking.name %>
          </td>
          <td>
            <%= link_to "Details", session_booking_path(s, s.booking), class: "button good" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
