<div class="bookings">
  <div class="banner yellow"></div>

  <div class="container">
    <%= gravatar_tag @person.email, size: 200, class: "img-circle gravatar" %>
    <h2>Your booking with <%= @person.given_name %> for <%= @session.starts_at.strftime('%A %-I:%M') %>–<%= @session.ends_at.strftime('%-I:%M%P') %></h2>

    <%= form_for_booking do |f| %>
      <%= f.text_field :winnie, id: "winnie_field" %>
      <%= f.field :name, required: true, autofocus: true %>
      <%= f.field :email, required: true %>
      <%= f.field :skype %>
      <%= f.field :project, required: true, rows: 3 do %>
        A brief (140 character max) description of the project you’d like to work on.
      <% end %>
      <%= f.button "Book Session", class: "button book-session" %>
    <% end %>
  </div>
</div>
