<div class="text-center">
  <%= gravatar_tag(@person.email, size: 200, class: "img-circle") %>
  <%= gravatar_tag(@booking.email, size: 200, class: "img-circle") %>
</div>

<hr>

<p class="lead text-center">
  Thanks <%= @booking.given_name %>!<br>
  <strong><%= @person.given_name %></strong> will be in touch at
  <strong><%= @session.starts_at.strftime('%-I%P') %></strong>
</p>

<hr>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h4 class="text-center">What Now?</h4>

    <ol class="list-group">
      <li class="list-group-item">
        <%= link_to_screenhero "Download Screenhero", @person.screenhero_url %>
      </li>
      <li class="list-group-item">
        Create an account
      </li>
      <li class="list-group-item">
        Add <strong><%= @person.email %></strong> as a contact
      </li>
    </ol>
  </div>
</div>
