<div class="bookings bookings-show">
  <div class="banner yellow"></div>

  <div class="container">
    <%= gravatar_tag @person.email, size: 200, class: "img-circle gravatar" %>

    <div class="row">
      <div class="column">
        <h2>Thanks <%= @booking.given_name %>! <%= @person.given_name %></strong> will be in touch at <%= @session.starts_at.strftime('%-I%P') %></h2>
      </div>
      <div class="column">
        <h2>What Now?</h2>
        <ol class="steps-list">
          <li><%= link_to_screenhero "Download Screenhero", @person.screenhero_url %></li>
          <li>Create an account</li>
          <li>Add <strong><%= @person.email %></strong> as a contact</li>
        </ol>
      </div>
    </div>
</div>