<div class="bookings bookings-show">
  <div class="banner yellow"></div>

  <div class="container">
    <div class="gravatars-container">
      <%= gravatar_tag @person.email, size: 200, class: "img-circle gravatar" %>
      <%= gravatar_tag @booking.email, size: 200, class: "img-circle gravatar" %>
    </div>

    <div class="row add-to-calendar-row">
      <div class="column">
        <h2>Thanks <%= @booking.given_name %>!<br>
          <%= @person.given_name %></strong> will be in touch
          <%= session_start_tag @session %>.</h2>

        <%= link_to session_booking_path(session_id: @session.id, id: @booking.id), class: 'addthisevent' do %>
          Add to Calendar
          <span class="_start"><%= calendar_event_time(@session.starts_at) %></span>
          <span class="_end"><%= calendar_event_time(@session.ends_at) %></span>
          <span class="_zonecode">35</span>
          <span class="_summary">Pair session with <%= @person.name %></span>
          <span class="_description"><%= @booking.project %></span>
          <span class="_organizer"><%= @person.name %></span>
          <span class="_organizer_email"><%= @person.email %></span>
          <span class="_date_format">DD/MM/YYYY</span>
        <% end %>

        <p><strong>Your Project:</strong><br>
          <%= @booking.project %></p>
      </div>
      <div class="column">
        <h2>What Now?</h2>
        <ol class="steps-list">
          <li><%= link_to "Download Screenhero", "http://screenhero.com" %></li>
          <li>Create an account</li>
          <li>Add <strong><%= @person.screenhero_email %></strong> as a contact</li>
          <li>Tell your friends!<br><br>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pair.withassociates.com" data-text="I’ve booked a pairing session with <%= @person.name %>!" data-via="withassociates">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="link-home">
        <%= link_to "Back", root_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
<script type="text/javascript">
  addthisevent.settings({
    hotmail: { show: false },
    facebook: { show: false },
    dropdown: { order: "ical,google,yahoo,outlook"}
  });
</script>
