<div class="intro banner">
  <div class="container">
    <h1><span>Pair</span> With Associates</h1>
    <p>Need a hand working through a tricky programming problem? Or help finding the right path for a design solution? Or just someone to bounce ideas off?</p>
    <p>Us too. That’s why each of us at With Associates are making ourselves available for short daily pairing sessions.</p>
  </div>
</div>

<div class="container">
  <h2>Book a Session</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Who?</th>
        <th>When?</th>
        <th>What?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.each do |s| %>
        <%= render_session_row(s: s) %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="about">
    <h2>About With Associates</h2>
    <p>We're a digital agency. We plan, design and build websites and apps. Read more about us on <%= link_to 'our website', 'http://withassociates.com' %>, or just get in touch:</p>
    <ul class="social">
      <li><%= link_to 'Github', 'http://www.github.com/withassociates', class: 'icon icon-github' %></li>
      <li><%= link_to 'Twitter', 'http://www.twitter.com/withassociates', class: 'icon icon-twitter' %></li>
      <li><%= link_to 'Instagram', 'http://instagram.com/withassociates', class: 'icon icon-instagram' %></li>
      <li><%= link_to 'Flickr', 'http://www.flickr.com/photos/withassociates', class: 'icon icon-flickr' %></li>
    </ul>
  </div>
</div>
